.board {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  gap: 5px;
  padding: 10px;
  background-color: #f0f0f0;
  overflow-x: scroll;
  min-height: 92vh;
}

.column {
  width: 300px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  border: 0px;
}

.column-title {
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
}

.column-title .gap {
  display: flex;
  gap: 10px;
}

.col-icon {
  justify-self: flex-end;
  cursor: pointer;
}

.column-items {
  padding: 10px;
  flex-grow: 1;
}

.avatar-and-name {
  display: flex;
  align-items: center;
  gap: 2px;
}

.ticket-count {
  color: gray;
}