.board {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  overflow-x: scroll;
}

.column {
  width: 300px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  border: 0px;
}

.column-title {
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
}

.column-items {
  padding: 10px;
  flex-grow: 1;
}
